
@{
    ViewBag.Title = "KulupEkle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Yeni Kulup Ekle</h2>

<form class="form-group" method="post">
    <div class="form-group">
        <label for="exampleInputEmail1">Kulup Adi</label>
        <input type="text" class="form-control" id="KulupAdi" name="KulupAdi">
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Kulup Adi</label>
        <input type="text" class="form-control" id="KulupKontejan" name="KulupKontejan">
    </div>
    <button type="submit" class="btn btn-primary">Kaydet</button>
</form>
