
@{
    ViewBag.Title = "YeniDersEkle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Yeni Ders Ekle</h2>

<form class="form-group"  method="post">
    <div class="form-group">
        <label for="exampleInputEmail1">Ders Adi</label>
        <input type="text" class="form-control" id="DersAdi" name="DersAdi">
    </div>
    <button type="submit" class="btn btn-primary">Kaydet</button>
</form>

